<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forget Password</title>
	<link rel="stylesheet" 	type="text/css" media="all" href="../../css/style.css"th:href="@{/css/style.css}" />
	 
</head>
<body class="Fbody">
    <div class="Fwrapper">
		<form   th:action="@{/emailsent}" method="post" th:object="${forgetpassword}"> 
         <h1>Forget Password </h1>
        <div class="Finput-box">
            <input type="text" placeholder="Enter Your E-mail" 	th:field="*{email}" required>
        </div>
        <button type="submit" class="btn">submit</button>
		</form>
    </div>
	
</body>
</html>

 