<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body class="review">
    <div class="Rnavbar">
			<div class="rlogo">
				<!-- Placeholder for photo -->
				<img src="/images/IATLogo.png" alt="Logo" height="50px" width="200px">
			</div>
			<div class="links">
				<!-- Text links -->
				<a href="/admin/user/list">manage Users</a>
				<a href="/admin/manageArticle">manage Articles</a>
				<a href="/admin/reviewarticle">Review Posted Article</a>
                <a href="/admin/reviewReport">Review Reported Article</a>
				<a href="/admin/event/list">Review Events</a>
				<a href="/admin/reviewPassword">Review Forgetten password</a>
			</div>
    </div>
   
    <div class="drt" >
        <h1>Review Report List </h1><br>
        
    <table class="reviewtable" border="1" padding="10" >
        <thead>
            <tr>
                <th >&nbsp;&nbsp;ID &nbsp;</th>
                <th>&nbsp;Title&nbsp;</th>
                <th>&nbsp;Report User_Name&nbsp;</th>
                <th>&nbsp;Resaon&nbsp;</th>
                <th>&nbsp;Date Time&nbsp;</th>
                 <th>&nbsp;Action&nbsp;</th>
                 
            </tr>
        </thead>
        <tbody >
            <tr th:each="reportDto : ${reportDtos}"
				
				>
               <td th:text="${reportDto.id}"></td>
      <td th:text="${reportDto.reason}"></td>
      <td th:text="${reportDto.userName}"></td>
       <td th:text="${reportDto.title}"></td>
       <td th:text="${reportDto.date}"></td>
       
                   <td>   
                  <a href=""><i class="bi bi-eye"></i></a>&nbsp;
                  <a class="bi bi-trash"	 th:href="@{/admin/reviewReport/deleteReport/{id}(id=${reportDto.id})}"></a>
                  
                </td>
            </tr>
            
            
        </tbody>
    </table>
    </div>

    <div class="footer">
        <p>copyright &copy; 2024,Institute of Advanced Technologies | All Rights Reserved.</p>
    </div>
</body>
</html>