<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" 	type="text/css" media="all" href="../../css/style.css"th:href="@{/css/style.css}" />
 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
 <title>Document</title>
  
</head>
<body class="Rb">
 <div class="Rwrapper">
 <form class="RF" th:action="@{/alumni/saveRating/{articleId}(articleId=${articleId})}" method="post" th:object="${rating}">
               <h1>Rating Form</h1>

   <input type="radio" name="star" value="1" th:field="*{rating}">
   <i class="bi bi-star-fill custom-icon"></i> <br><br>

   <input type="radio" name="star" value="2"    th:field="*{rating}">
   <i class="bi bi-star-fill custom-icon"></i><i class="bi bi-star-fill custom-icon"></i> <br><br>

   <input type="radio" name="star" value="3"    th:field="*{rating}">
   <i class="bi bi-star-fill custom-icon"></i><i class="bi bi-star-fill custom-icon"></i><i class="bi bi-star-fill custom-icon"></i> <br><br>

   <input type="radio" name="star" value="4"    th:field="*{rating}">
   <i class="bi bi-star-fill custom-icon"></i><i class="bi bi-star-fill custom-icon"></i><i class="bi bi-star-fill custom-icon"></i><i class="bi bi-star-fill custom-icon"></i><br><br>

   <input type="radio" name="star" value="5"    th:field="*{rating}">
   <i class="bi bi-star-fill custom-icon"></i><i class="bi bi-star-fill custom-icon"></i><i class="bi bi-star-fill custom-icon"></i><i class="bi bi-star-fill custom-icon"></i><i class="bi bi-star-fill custom-icon"></i> <br><br><br>

   <button type="submit">OK</button>
   
    
 </form>
 </div>
</body>
</html>